<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ticket_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket_type.description %>
</p>

<%= link_to 'Edit', edit_ticket_type_path(@ticket_type) %> |
<%= link_to 'Back', ticket_types_path %>
